---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import HealthImpact from "../components/HealthImpact.astro";
import Resources from "../components/Resources.astro";
import DisclaimerModal from "../components/DisclaimerModal.astro";
---

<Layout>
    <div class="font-body bg-white">
        <DisclaimerModal />
        <Nav />
        <Hero />
        <Problem />
        <HealthImpact />
        <Resources />
    </div>
</Layout>

<!-- definitition -->
<!-- current status -->
<!-- causes -->
<!-- and effects -->
