<section class="h-screen pt-14 bg-mist-50 relative px-2">
    <div
        class="absolute inset-0 flex flex-col gap-8 md:gap-10 items-center justify-center px-4 pt-14 md:pt-28"
    >
        <p
            class="reveal reveal-up reveal-delay-1 font-highlight text-5xl md:text-7xl font-bold text-center"
        >
            Every breath you take
            <span class="text-orange-700 block">MATTERS</span>
        </p>

        <p
            class="reveal reveal-up reveal-delay-3 text-lg text-center text-slate-700 max-w-2xl"
        >
            In the Philippines, air pollution causes
            <span class="font-semibold text-slate-900"
                >32,019 premature deaths</span
            >
            each year. Exposure to PM2.5 levels remains
            <span class="font-semibold text-slate-900"
                >far above WHO safety guidelines</span
            >, driven significantly by transport and other urban emissions.
        </p>

        <div class="reveal reveal-up reveal-delay-6 flex gap-2 md:gap-5">
            <button
                class="text-md bg-orange-700/75 text-white hover:shadow-md px-4 py-2 hover:cursor-pointer rounded-lg text-center hover:scale-105 transition ease-in-out duration-300"
            >
                Learn More
            </button>

            <button
                class="text-md border border-orange-700/75 hover:shadow-md text-orange-700/75 px-4 py-2 hover:cursor-pointer rounded-lg text-center hover:scale-105 transition ease-in-out duration-300"
            >
                Take Action
            </button>
        </div>

        <div class="grid gap-2 md:gap-6 grid-cols-2 md:grid-cols-3 text-md">
            <div
                class="rounded-sm transform transition-transform duration-300 hover:-translate-y-2 hover:shadow-2xl reveal reveal-up reveal-delay-10 bg-white shadow-xl px-4 py-6 md:px-6 md:py-8"
            >
                <p class="text-3xl text-orange-800">32,019</p>
                <p>
                    Premature deaths<br />
                    annually
                </p>
            </div>

            <div
                class="rounded-sm transform transition-transform duration-300 hover:-translate-y-2 hover:shadow-2xl reveal reveal-up reveal-delay-12 bg-white shadow-xl px-4 py-6 md:px-6 md:py-8"
            >
                <p class="text-3xl text-orange-800">24%</p>
                <p>
                    PM2.5 emissions<br />
                    from transport
                </p>
            </div>

            <div
                class="rounded-sm col-span-2 md:col-span-1 transform transition-transform duration-300 hover:-translate-y-2 hover:shadow-2xl reveal reveal-up reveal-delay-14 bg-white shadow-xl px-4 py-6 md:px-6 md:py-8"
            >
                <p class="text-3xl text-orange-800">$61.9B</p>
                <p>
                    Annual economic<br />
                    health cost
                </p>
            </div>
        </div>
    </div>
</section>
